---
layout: archive
title: "Research"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}" target="_blank">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

<!-- New style rendering if publication categories are defined -->
{% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h1>{{ category[1].title }}</h1><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %} 

<h1>Work in Progress</h1>

<h2>Algorithms in Public Organizations: Experimental Evidence from Corruption Complaints in Peru</h2>

<p>(with <a href = "https://sites.google.com/site/jonashjort/" target="_blank">Jonas Hjort</a> and <a href = "https://gastonpierri.com/"  target="_blank">Gast&oacute;n Pierri</a>)</p>
<p><i>Research Question: What determines takeup of algorithmic tools in a complex organization like a civil service?</i></p>

<h2>Tax Enforcement Traps: Experimental Evidence from Pakistan</h2>

<p>(with <a href="https://sherafghanasad.com/" target="_blank">Sher Afghan Asad</a>, <a href="https://www.andersditlevjensen.com/" target="_blank">Anders Jensen</a>, and <a href = "https://adnanqkhan.com/" target="_blank">Adnan Khan</a>)</p>
<p><i>Research Question: Can complementarities in tax compliance decisions create enforcement traps? And how can tax enforcement strategies escape them?</i></p>

<h2>Local Government State Capacity: Evidence from Brazil</h2>

<p>(with <a href="https://www.vansh-gupta.com/" target="_blank">Vansh Gupta</a>, <a href="https://renatalemos.com/" target="_blank">Renata Lemos</a>, and <a href="https://danielascur.com/" target="_blank">Daniela Scur</a>)</p>
<p><i>Research Question: How can we use municipal governments' Daily Gazettes to measure state capacity and its determinants?</i></p>


<h2>State Capacity and Responses to Natural Disasters: Evidence from Brazilian Municipalities</h2>

<p>(with <a href="https://www.vansh-gupta.com/" target="_blank">Vansh Gupta</a>, <a href="https://renatalemos.com/" target="_blank">Renata Lemos</a>, and <a href="https://danielascur.com/" target="_blank">Daniela Scur</a>)</p>
<p><i>Research Question: What types of state capacity determine local governments' ability to respond effectively to natural disasters?</i></p>

<h2>Individual and Organizational Determinants of Evasion in Customs: Evidence from Pakistan</h2>

<p>(with <a href="https://www.timdobermann.com" target="_blank">Tim Dobermann</a> and <a href="https://www.theigc.org/people/faraz-hayat" target="_blank">Faraz Hayat</a>)</p>
<p><i>Research Question: Which individuals are most/least able to detect evasion of customs duties? How can teams be organized to maximize performance?</i></p>